/logs
__pycache__
.env
.venv
/data
.csv
recycle_bin
results
k_group
plots
outputs
cache_features
train_old
runs_old
runs
DAML
Report
feature_selections
./crypto_quant_monitor.egg-info

/utils
# *.json
feature_select/results
train/results/*
*.csv
*.pth
train/research_problem.MD

trader/trader/
trader/trader/*
data/
*.zip